.container-fluid {
  padding: 0;
}

.aboutMe {
  margin-top: 50px;
}

.profile {
  align-items: center;

  &__img {
    width: 100%;
  }
}

.list-group {
  margin-top: 20px;
  text-align: center;
  &-item {
    background: none;
    color: white;
    border-bottom: 1px solid white;
  }
}

li {
  list-style-type: none;
}

.aboutMe {
  color: white;
}

.links {
  display: flex;
  justify-content: center;
}
