.container-fluid {
  padding: 0;
}

.aboutMe {
  margin-top: 50px;
}

.profile {
  align-items: center;

  &__img {
    width: 100%;
  }
}

li {
  list-style-type: none;
}

.list-group {
  margin-top: 20px;
  &-item {
    background: none;
    color: white;
  }
}

.aboutMe {
  color: white;
}

.links {
  display: flex;
  justify-content: center;
}

.vertical-timeline-element-content {
  background: none;
  border: 1px solid white;
}

.accordion_dropdown {
  background: none;
  border: 1px solid white;
  margin-top: 20px;

  &-header {
    padding-left: 10px;
    background: none;
  }
}
