.container-fluid {
  padding: 0;
}

.aboutMe {
  margin-top: 50px;
}

.profile {
  align-items: center;

  &__img {
    width: 100%;
  }
}

.topics {
  max-height: 275px;
  overflow-y: scroll;
}

.list-group {
  margin-top: 20px;
  text-align: center;
  &-item {
    background: none;
    color: white;
    border-bottom: 1px solid white;
  }
}

li {
  list-style-type: none;
}

.aboutMe {
  color: white;
}

.links {
  display: flex;
  justify-content: center;
}

.work {
  &__title {
    margin: 40px auto;
    margin-top: 50px;
  }

  &__item {
    text-align: center;
  }
}
