@media only screen and (min-width: 576px) {
  .home__title {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .home__title {
    font-size: 72px;
  }
  .work__item {
    text-align: left;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element-icon {
    font-size: 32px;
    padding-top: 5px;
  }

  .timelineExplanation {
    padding-left: 55px;
    text-align: left;
  }
}
